/* LOGIN FORM */
body {
    background: var(--darkened-bg);
    height: auto;
}

#header {
    height: auto;
    padding: 15px 16px;
    justify-content: center;
    background: var(--secondary);
}

#header h1 {
    font-size: 1.125rem;
    margin: 0;
}

#header > :first-child {
    margin: 0;
}

#content {
    padding: 20px;
}

#container {
    background: var(--body-bg);
    border: 1px solid var(--hairline-color);
    border-radius: 4px;
    overflow: hidden;
    width: 28em;
    min-width: 300px;
    margin: 100px auto;
    height: auto;
}

body .form-row {
    padding: 4px 0;
}

body .form-row label {
    display: block;
    line-height: 2em;
}

body .form-row #id_username, body .form-row #id_password {
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
}

body .submit-row {
    display: block;
    padding: 1em 0 0 0;
    margin: 0;
    text-align: center;
}
