<button id="toggle-nav-side-bar" class="sticky toggle-nav-sidebar"> </button>
<nav id="nav-sidebar" class="sticky">
    <table class="module">
        <tbody>
            {% for desc, href in nav_sidebar_data.moderation.items %}
            <tr class="clickable-row" data-href="{{ href }}"> 
                <th> {{ desc }} </th> 
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table class='module'>
        <tbody> 
            {% for desc, data in nav_sidebar_data.feedback.items %}
            <tr class="clickable-row" data-href={{ data.href }}>
                <th> 
                    {{ desc }}
                </th>
                <th class='blink'>
                    {% if data.counter %}
                    {{ data.counter }} 
                    {% endif %}
                </th>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        jQuery(document).ready(function($) {
            // left click
            $(".clickable-row").click(function() {
                window.location = $(this).data("href");
            });

            // middle click
            $(".clickable-row").mouseup(function(e) {
                if (e.which == 2) {
                    window.open($(this).data("href"), '_blank');
                }
            });
        });
    </script>
</nav>
