{% extends "polls/base.html" %}

{% block content %}
<h1> Картридж №{{ cartridge.id }} </h1>
<table>    
    <tbody>
        <tr>
            <td> Техническое состояние </td>
            <td> {{ cartridge.get_technical_condition_display }} </td>
        </tr>
        <tr>
            {% if cartridge.mfp %}
                <td> Установлен в принтер </td>
                <td> {{ cartridge.mfp }} </td>
            {% endif %}
        </tr>
            {% if cartridge.disabling_reason %}
                <td> Причина снятия</td>
                <td> {{ cartridge.disabling_reason }} </td>
            {% endif %}
        </tr>
    </tbody>
</table>

<a href="{% url 'cartridge-list' %}"> Список картриджей </a>
{% endblock %}