{% extends "base_site.html" %}

{% block content_title %} {% endblock %}

{% block content %}
<form action="" method="post" id="main-form">
    {% csrf_token %}
    <div id="submit-row" class="submit-row sticked">
        <div>
            <!-- left aligned -->
            <input type="reset" value="Сбросить">
            {% if add_href %} <a href="{{ add_href }}" class="button"> Добавить </a> {% endif %}
            {% if add_form_button %} <input id="add-form" type="button" value="Добавить еще одну строку"> {% endif %}
        </div>
        <div>
            <!-- centered -->
        </div>
        <div>
            <!-- right aligned -->
            {% if deletion_flag %} <input type="submit" value="Удалить отмеченые" class="delete-button" id="delete-button"> {% endif %}
            <input type="submit" value="Сохранить данные">
        </div>
    </div>
    <div id="table-forms-container" class="double-scroll">
        {% if formset|length %}
        {{ formset.not_form_errors }}
        <table>
            <caption class="sticked"> {{ title }} </caption>
            <thead class="sticked"> 
                <tr>
                    {% for field in formset.0.visible_fields %}
                    <td class="bold"> {{ field.label }} </td>
                    {% endfor %}
                    {% if deletion_flag %}
                    <td class="bold"> Удалить </td>
                    {% endif %}
                </tr>
            </thead>
            <!-- Visible fields -->
            <tbody id="forms-container">
                {% for form in formset %}
                <tr class="object-form">
                    {% for field in form.visible_fields %}
                    <td>
                        {{ field.errors }}
                        {% if field.help_text %} 
                        <div data-tip="{{ field.help_text }}"> {{ field }} </div>
                        {% else %} 
                        {{ field }}
                        {% endif %}
                    </td>
                    {% endfor %}
                    {% if deletion_flag %} <td> <input type="checkbox" name="form-{{ forloop.counter0 }}-delete" /> </td> {% endif %}
                </tr>
                {% endfor %}
            </tbody>
            <!-- Hidden fields -->
            <tbody>
                {% for form in formset %}
                <tr>
                    {% for field in form.hidden_fields %}
                    {{ field }}
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
            <!-- formset management form -->
            <tbody>
                {{ formset.management_form }}
            </tbody>
        </table>
        {% else %}
        <h2> {{ no_forms_text|default:"Нет данных" }} </h2>
        {% endif %}
    </div>
</form>

<script>
    {
        // delete button handler
        form = $("#main-form");
        $("#delete-button").click(function(event){
            event.preventDefault();
            form.append(
                $("<input type='hidden' name='DeleteAction' value=1>")
                ).submit();
        });    
    };

    
    {
        // add form button handler  
        objectForm = $(".object-form");
        container = $("#forms-container");
        totalForms = $("#id_form-TOTAL_FORMS");
        formNum = objectForm.length;
        formRegex = RegExp(`form-(\\d)+-`,'g');

        $("#add-form").click(function(event){
            event.preventDefault();
            newForm = objectForm.first().clone();
            newForm.html(newForm.html().replace(formRegex, `form-${formNum}-`));
            container.prepend(newForm);
            totalForms.attr('value', `${++formNum}`);
        });    
    };

    {
        // double scroll
        $('.double-scroll').doubleScroll();
    }

    {
        // changes disabled state disabling_reason textarea on select option
        select_inputs = $("select[id^=id_form][id$=technical_condition]");
        disabling_reason_inputs = $("[id^=id_form][id$=disabling_reason]");        

        select_inputs.change(function(){
            selected_value = $(this).val();            
            disabling_reason_input = disabling_reason_inputs[select_inputs.index($(this))];            
            if(['0', '1'].includes(selected_value)) {
                disabling_reason_input.setAttribute(
                    'data-prev-value', disabling_reason_input.value || disabling_reason_input.getAttribute('data-prev-value')
                );
                disabling_reason_input.value = '';
                disabling_reason_input.innerHTML = '';
                disabling_reason_input.readonly = true;
            } else {
                disabling_reason_input.value = disabling_reason_input.value || disabling_reason_input.getAttribute('data-prev-value');
                disabling_reason_input.setAttribute('data-prev-value', '');
                disabling_reason_input.readonly = false;
            }
        });
    }

</script>
{% endblock %}