{% extends "polls/base_form.html" %}

{% block content %}
<form action="" method="post" id="main-form">
    {% csrf_token %}
    <div id="table-forms-container">
        <div id="submit-row">
            <input type="reset" value="Сбросить">
            {% if add_href %}
                <a href="{{ add_href }}"> <input type="button" value="Добавить" id="add-button"> </a>
            {% endif %}
            {% if add_form_button %}
                <input id="add-form" type="button" value="Добавить еще одну строку">
            {% endif %}
            <input type="submit" value="Сохранить данные">
            {% if deletion_flag %}
                <input type="submit" value="Удалить отмеченые" class="delete-button" id="delete-button">            
            {% endif %}
        </div>
        {% if forms|length %}
            {{ forms.not_form_errors }}
            <table class="table-centered tabled-forms">
                <caption class="text-center sticked-top"> {{ heading }} </caption>
                <thead name="Table header row" class="sticked-top">
                    <tr>
                        {% for field in forms.0.visible_fields %}
                        <td> {{ field.label }} </td>
                        {% endfor %}
                        {% if deletion_flag %}
                            <td> Удалить </td>
                        {% endif %}
                    </tr>
                </thead>
                <tbody name="visible forms fields" id="forms-container">
                    {% for form in forms %}
                    <tr class="object-form">
                        {% for field in form.visible_fields %}
                        <td>
                            {{ field.errors }}
                            {% if field.help_text %}
                                <div data-tip="{{ field.help_text }}"> {{ field }} </div>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </td>
                        {% endfor %}
                        {% if deletion_flag %}
                            <td> <input type="checkbox" name="form-{{ forloop.counter0 }}-delete" /> </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                <tbody name="hidden forms fields">
                    {% for form in forms %}
                    <tr>
                        {% for field in form.hidden_fields %}
                        {{ field }}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
                <tbody name="forms management form">
                    {{ forms.management_form }}
                </tbody>
            </table>
        {% else %}
            <h1 class="text-center"> {{ no_forms_text }} </h1>
        {% endif %}
    </div>
</form>

<script>
    deleteBtn = document.querySelector('#delete-button');
    deleteBtn.addEventListener('click', dr);
    function dr(e){
        e.preventDefault();
        inp = document.createElement('input');
        inp.type = 'hidden'
        inp.name = 'DeleteAction'
        inp.value = 1;
        deleteBtn.form.appendChild(inp);
        deleteBtn.form.submit();
    }
</script>
<script>
    let objectForm = document.querySelectorAll('.object-form');
    let container = document.querySelector("#forms-container");
    let addButton = document.querySelector("#add-form");
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS");
    let formNum = objectForm.length-1;

    addButton.addEventListener('click', addForm);
    function addForm(e) {
        e.preventDefault();

        let newForm = objectForm[0].cloneNode(true); // Clone the object form
        let formRegex = RegExp(`form-(\\d){1}-`,'g'); // Regex to find all instances of the form number

        formNum++; // Increment the form number
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`); // Update the new form to have the correct form number        
        container.insertBefore(newForm, container.firstChild);

        totalForms.setAttribute('value', `${formNum+1}`); // Increment the number of total forms in the management form
    };
</script>
{% endblock %}