{% extends "polls/base_form.html" %}

{% block content %}
<form action="" method="post" id="main-form">
    {% csrf_token %}
    <div id="table-forms-container">
        <div id="submit-row">
            <input type="reset" value="Сбросить">
            {% if add_href %}
                <a href="{{ add_href }}"> <input type="button" value="Добавить" id="add-button"> </a>
            {% endif %}
            {% if add_form_button %}
                <input id="add-form" type="button" value="Добавить еще одну строку">
            {% endif %}
            <input type="submit" value="Сохранить данные">
            {% if deletion_flag %}
                <input type="submit" value="Удалить отмеченые" class="delete-button" id="delete-button">            
            {% endif %}
        </div>
        {% if forms|length %}
            {{ forms.not_form_errors }}
            <table class="table-centered tabled-forms">
                <caption class="text-center sticked-top"> {{ heading }} </caption>
                <thead name="Table header row" class="sticked-top">
                    <tr>
                        {% for field in forms.0.visible_fields %}
                        <td> {{ field.label }} </td>
                        {% endfor %}
                        {% if deletion_flag %}
                            <td> Удалить </td>
                        {% endif %}
                    </tr>
                </thead>
                <tbody name="visible forms fields" id="forms-container">
                    {% for form in forms %}
                    <tr class="object-form">
                        {% for field in form.visible_fields %}
                        <td>
                            {{ field.errors }}
                            {% if field.help_text %}
                                <div data-tip="{{ field.help_text }}"> {{ field }} </div>
                            {% else %}
                                {{ field }}
                            {% endif %}
                        </td>
                        {% endfor %}
                        {% if deletion_flag %}
                            <td> <input type="checkbox" name="form-{{ forloop.counter0 }}-delete" /> </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
                <tbody name="hidden forms fields">
                    {% for form in forms %}
                    <tr>
                        {% for field in form.hidden_fields %}
                        {{ field }}
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
                <tbody name="forms management form">
                    {{ forms.management_form }}
                </tbody>
            </table>
        {% else %}
            <h1 class="text-center"> {{ no_forms_text }} </h1>
        {% endif %}
    </div>
</form>

<script>
    // delete button handler
    jQuery(document).ready(function($) {
        form = $("#main-form");
        $("#delete-button").click(function(event){
            event.preventDefault();
            form.append(
                $("<input type='hidden' name='DeleteAction' value=1>")
            ).submit();
        });    
    });

    // add form button handler  
    jQuery(document).ready(function($) {
        objectForm = $(".object-form");
        container = $("#forms-container");
        totalForms = $("#id_form-TOTAL_FORMS");
        formNum = objectForm.length;
        formRegex = RegExp(`form-(\\d)+-`,'g');

        $("#add-form").click(function(event){
            event.preventDefault();
            newForm = objectForm.first().clone();
            newForm.html(newForm.html().replace(formRegex, `form-${formNum}-`));
            container.prepend(newForm);
            totalForms.attr('value', `${++formNum}`);
        });    
    });
</script>
{% endblock %}