{% extends "base_site.html" %}

{% block content %}

<div class="table-wrapper centered">
<table>
    <tr> 
        <th> Описание запроса </th>
        <td> {{ request.description }} </td>
    </tr>
    <tr>
        <th> Рабочее место </th>
        <td> {{ request.worksite }} </td>
    </tr>
    <tr>
        <th> Создан </th>
        <td> {{ request.created_at }} </td>
    </tr>
    <tr>
        <th> Статус запроса </th>
        <td> {{ request.get_status_display }} </td>
    </tr>
</table>
</div>

{% endblock %}