{% extends "polls/base_form.html" %}

{% block title %} Создать запрос {% endblock %}

{% block content %}
<h1 style="text-align: center;"> Создать запрос </h1>
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <table class="table-centered tabled-forms">
            {{ form.as_table }}
            <tr>
                <td colspan=" {{ form.fields|length }}" style="text-align: center;"> 
                    <input type="submit" value="Отправить запрос" />
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}
