{% extends "polls/base.html" %}

{% block title %} Запрос №{{ request.id }} {% endblock %}

{% block content %}

<h1 class="text-center"> Запрос № {{ request.id }} </h1>
<table class="table-centered tabled-forms">
    <tr> 
        <th> Описание запроса </th>
        <td> {{ request.description }} </td>
    </tr>
    <tr>
        <th> Рабочее место </th>
        <td> {{ request.worksite }} </td>
    </tr>
    <tr>
        <th> Создан </th>
        <td> {{ request.created_at }} </td>
    </tr>
    <tr>
        <th> Статус запроса </th>
        <td> {{ request.get_status_display }} </td>
    </tr>
</table>
{% endblock %}