:root {
    --primary: #264b5d;
    --secondary: #417690;
    --accent: #f5dd5d;
    --primary-fg: #f7f7f7;

    --body-fg: #eeeeee;
    --body-bg: #121212;
    --body-quiet-color: #d0d0d0;
    --body-medium-color: #e0e0e0;
    --body-loud-color: #ffffff;

    --header-color: #ffc;
    --header-branding-color: var(--accent);
    --header-bg: var(--body-bg);
    --header-link-color: var(--primary-fg);

    --link-fg: #81d4fa;
    --link-hover-color: #4ac1f7;
    --link-selected-fg: #6f94c6;

    --hairline-color: #272727;
    --border-color: #353535;

    --error-fg: #e35f5f;
    --message-success-bg: #006b1b;
    --message-warning-bg: #583305;
    --message-error-bg: #570808;

    --breadcrumbs-link-fg: #e0e0e0;
    --breadcrumbs-bg: var(--primary);    

    --darkened-bg: #212121;
    --selected-bg: #1b1b1b;
    --selected-row: #00363a;

    

    --button-fg: #fff;
    --button-bg: var(--secondary);
    --button-hover-bg: #205067;
    --default-button-bg: #205067;
    --default-button-hover-bg: var(--secondary);
    --close-button-bg: #333333;
    --close-button-hover-bg: #666666;
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;
    --reset-button-bg: #6d6d6d;
    --reset-button--hover-bg: #555555;

    --object-tools-fg: var(--button-fg);
    --object-tools-bg: var(--close-button-bg);
    --object-tools-hover-bg: var(--close-button-hover-bg);

    --scrollbar-thumb-hover: var(--button-hover);
    --scrollbar-thumb: #484e51;

    --font-family-primary: 
    "Segoe UI", 
    system-ui, 
    Roboto, 
    "Helvetica Neue", 
    Arial, sans-serif, 
    "Apple Color Emoji", 
    "Segoe UI Emoji", 
    "Segoe UI Symbol", 
    "Noto Color Emoji"
    ;
    
    --font-family-monospace: 
    ui-monospace, 
    Menlo, 
    Monaco, 
    "Cascadia Mono", 
    "Segoe UI Mono", 
    "Roboto Mono", 
    "Oxygen Mono", 
    "Ubuntu Monospace", 
    "Source Code Pro", 
    "Fira Mono", 
    "Droid Sans Mono", 
    "Courier New", 
    monospace, 
    "Apple Color Emoji", 
    "Segoe UI Emoji", 
    "Segoe UI Symbol", 
    "Noto Color Emoji"
    ;

    color-scheme: dark;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: var(--font-family-primary);
    color: var(--body-fg);
    background: var(--body--bg);
}

a:link, a:visited {
    color: var(--ling-fg);
    text-decoration: none;
    transition: color 0.15s, background 0.15s;
}

a:focus, a:hover {
    color: var(--link-hover-fg);
}

h1, h2, h3, h5, h5 {
    text-align: center;
    font-weight: bold;
}

h1 {
    margin: 0 0 1.25rem;
    font-weight: bold;
    font-size: 1.75rem;
    width: 100%;
}

h2 {
    font-size: 1.5rem;
    margin: 1rem 0 .5rem 0;
}

form {
    margin: 0;
    padding: 0;
}

/* TABLES */

table {
    border-collapse: collapse;
    border-color: var(--border-color);
}

table caption {
    font-size: 1.8rem;
}

td, th {
    font-size: .8125rem;
    line-height: 1rem;
    border-bottom: 1px solid var(--hairline-color);
    vertical-align: top;
    text-align: center;
    padding: .5rem;
}

th {
    font-weight: bold;
    text-align: left;
}

thead th {
    color: var(--body-quiet-color);
    padding: .3125rem .625rem;
    background: var(--body-bd);
    border: none;
    border-top: 1px solid var(--hairline-color);
    border-bottom: 1px solid var(--hairline-color);
    text-align: center;
}

tr:nth-child(odd) {
    background: var(--body-bg);
}

tr:nth-child(even) {
    background: var(--darkened-bg);
}

/* FORM DEFAULTS */

input, textarea, select {
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
    font-weight: normal;
    font-size: 0.8125rem;
}

textarea {
    vertical-align: top;
}

select {
    height: 1.875rem;
}

/* FORM BUTTONS */
.button, input[type=submit], input[type=button], button, input[type=reset] {
    background: var(--button-bg);
    padding: .625rem .9375rem;
    border: none;
    border-radius: .25rem;
    color: var(--button-fg);
    cursor: pointer;
    transition: .15s;
}
a.button {
    font-size: 0.8125rem;
    color: var(--button-fg);
    vertical-align: middle;
}

.button:active, input[type=submit]:active, input[type=button]:active,
.button:focus, input[type=submit]:focus, input[type=button]:focus,
.button:hover, input[type=submit]:hover, input[type=button]:hover {
    background: var(--button-hover-bg);
}

input[type=reset] {
    background: var(--reset-button-bg);
}

input[type=reset]:active, input[type=reset]:focus, input[type=reset]:hover {
    background: var(--reset-button--hover-bg);
}

/*
Minifiers remove the default (text) "type" attribute from "input" HTML tags.
Add input:not([type]) to make the CSS stylesheet work the same.
*/
input:not([type]), input[type=text], input[type=password], input[type=email],
input[type=url], input[type=number], input[type=tel], textarea, select,
.vTextField {
    border: 1px solid var(--border-color);
    border-radius: 4px;
    padding: 5px 6px;
    margin-top: 0;
    color: var(--body-fg);
    background-color: var(--body-bg);
}

/*
Minifiers remove the default (text) "type" attribute from "input" HTML tags.
Add input:not([type]) to make the CSS stylesheet work the same.
*/
input:not([type]):focus, input[type=text]:focus, input[type=password]:focus,
input[type=email]:focus, input[type=url]:focus, input[type=number]:focus,
input[type=tel]:focus, textarea:focus, select:focus, .vTextField:focus {
    border-color: var(--body-quiet-color);
}

/* PAGE STRUCTURE */

#container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#main {
    width: 100%;

    display: flex;
    flex-flow: row nowrap;
    flex: 1 0 auto;
}

#content-start {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    padding: 0 2.5rem 1.25rem 2.5rem;
    flex: 1 0;
    overflow: hidden;
}

#content {
    width: 100%;
    float: left;
    padding: 0;
}

/* HEADER */

#header {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 1rem 0;
    background: var(--header-bg);
    color: var(--header-color);
}

#header a:focus, #header a:hover {
    text-decoration: underline;
}

#header > :first-child {
    margin: 0 0 0 5rem;
}

#header > :not(:first-child) {
    margin: 0 0 0 32rem;
}

#auth-form {
    display: inline;
}

#header h1 {
    font-size: 1.5rem;
}

#auth-form button {
    background: none;
    border: 0;
    cursor: pointer;
    color: var(--header-link-color);
}


/* main nav bar */
#main-nav {
    width: 100%;
    color: var(--breadcrumbs-fg);
    background: var(--breadcrumbs-bg);
}

#main-nav #auth-form {
    float: right;
}

#main-nav button, #main-nav .button, #main-nav input[type=submit] {
    color: var(--breadcrumbs-fg);
    background: var(--breadcrumbs-bg);
}

/* scrollbar & selection styling */
::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--body-bg);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

::-moz-selection,
::selection {
  background-color: var(--selection);
  color: var(--text-bright);
}

/* clickable table row */

.rowlink, .rowlink:focus {
    text-decoration: none;
}

.rowlink::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.5em;
}   

/* tips on hover */

[data-tip] {
  position:relative;

}

[data-tip]:before {
  content:'';
  /* hides the tooltip when not hovered */
  display:none;
  content:'';
  display:none;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #1a1a1a;
  position:absolute;
  top:30px;
  left:35px;
  z-index:8;
  font-size:0;
  line-height:0;
  width:0;
  height:0;
  position:absolute;
  top:30px;
  left:35px;
  z-index:8;
  font-size:0;
  line-height:0;
  width:0;
  height:0;
}

[data-tip]:after {
  display:none;
  content:attr(data-tip);
  position:absolute;
  top:35px;
  left:0px;
  padding:5px 8px;
  background:#1a1a1a;
  color:#fff;
  z-index:9;
  font-size: 0.75em;
  height:18px;
  line-height:18px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  white-space:nowrap;
  word-wrap:normal;
}

[data-tip]:hover:before,
[data-tip]:hover:after {
  display:block;
}

/* blink animation */
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
}
}

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
}
}

/* other */
.bold {
    font-weight: bold;
}

.module {
    border: none;
    margin-bottom: 30px;
    background: var(--body-bg);
}

.submit-row {
    display: flex;
    padding: .75rem .875rem .75rem;
    margin: 0 0 1.25rem;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: var(--body-bg);
    width: 100%;
}

#table-forms-container {
    display: block;
    width: 100%; 
    text-align: -webkit-center;
}

#table-forms-container table {
    width: 100%;
}


.table-wrapper.centered {
    text-align: -webkit-center;
}

.errornote {
    font-size: 0.875rem;
    font-weight: 700;
    display: block;
    padding: 10px 12px;
    margin: 0 0 10px 0;
    color: var(--error-fg);
    border: 1px solid var(--error-fg);
    border-radius: 4px;
    background-color: var(--body-bg);
    background-position: 5px 12px;
    overflow-wrap: break-word;
}