.toggle-nav-sidebar {
    z-index: 20;
    position: sticky;
    top: 0;
    max-height: 100vh;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 1.4375rem;
    width: 1.4375rem;
    border: 0;
    border-right: 1px solid var(--hairline-color);
    background-color: var(--body-bg);
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--link-fg);
    padding: 0;
}

[dir="rtl"] .toggle-nav-sidebar {
    border-left: 1px solid var(--hairline-color);
    border-right: 0;
}

.toggle-nav-sidebar:hover,
.toggle-nav-sidebar:focus {
    background-color: var(--darkened-bg);
}

#nav-sidebar {
    z-index: 15;
    position: sticky;
    flex: 0 0 17.1875rem;
    left: -17.25rem;
    margin-left: -17.25rem;
    border-top: 1px solid transparent;
    border-right: 1px solid var(--hairline-color);
    background-color: var(--body-bg);
    overflow: auto;
}

[dir="rtl"] #nav-sidebar {
    border-left: 1px solid var(--hairline-color);
    border-right: 0;
    left: 0;
    margin-left: 0;
    right: -17.25rem;
    margin-right: -17.25rem;
}

.toggle-nav-sidebar::before {
    content: '\00BB';
}

.main.shifted > .toggle-nav-sidebar::before {
    content: '\00AB';
}

.main.shifted > #nav-sidebar {
    visibility: hidden;
}

.main.shifted > #nav-sidebar {
    margin-left: 0;
    visibility: visible;
}

[dir="rtl"] .main.shifted  #nav-sidebar {
    margin-right: 0;
}

#nav-sidebar .module th {
    width: 100%;
    overflow-wrap: anywhere;
}

#nav-sidebar .module th,
#nav-sidebar .module caption {
    padding-left: 1.8rem;
}

#nav-sidebar .module td {
    white-space: nowrap;
}

[dir="rtl"] #nav-sidebar .module th,
[dir="rtl"] #nav-sidebar .module caption {
    padding-left: .5rem;
    padding-right: 1rem;
}

#nav-sidebar table {
    width: 100%;
}

#nav-sidebar .clickable-row {
    cursor: pointer;
}

#nav-sidebar tr:nth-child(odd),
#nav-sidebar  tr:nth-child(even) {
    background: #417690;
}

#nav-sidebar tr:nth-child(odd).clickable-row:hover {
    background: var(--body-bg);
}
#nav-sidebar tr:nth-child(even).clickable-row:hover {
    background: var(--darkened-bg);
}
