{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'polls/master.css' %}">
    <link rel="stylesheet" href="{% static 'polls/dark-mode.css' %}">
    <link rel="stylesheet" href="{% static 'polls/nav-sidebar.css' %}">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"> </script>
    {% block additional_head %} {% endblock %}
    <title> {% block title %} Журнал оргтехники УГМС по ЛНР {% endblock %} </title>
</head>
<body>
    <div id="container">
        <header id="header">
            {% block header %}
            {% endblock %}
        </header>
        {% block after_headeader %}        
        {% endblock %}
        <div id="main" class="main shifted">
            {% if user.is_authenticated %} {% include "aside.html" %} {% endif %}
            <main id="content-start">
                <div id="content">
                    {% block content_title %} <h1> {{ title }} </h1> {% endblock %}
                    {% block content %} Базовый шаблон. {% endblock %}
                </div>
            </main>
        </div>
        <footer id="footer">
            {% block footer %}
            {% endblock %}
        </footer>
    </div>
</body>
</html>